

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap');

body{ 
    margin:0


}
*{
    margin: 0;
  padding: 0;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h1,h2,h3,h4 { color: rgb(95, 10, 27);
font-size: 28px;
}
* {background-color: black;}

.center{text-align: center;

}
.shadow{text-transform: lowercase;}

.para{color: white;
font-size: 20px;
}

.main{ margin-left: auto;
margin-right: auto; 
}


